<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Faculty</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="header :: header">
</div>
<div class = "container">
	<div class="row justify-content-center">
		<div class = "col-md-6 col-md-offset-3">

			<h1 th:text="#{log_in}"></h1>
			<form th:action="@{/login}" method="post">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or
						password or you`re blocked.</div>
				</div>

				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>

				<div class = "form-group">
					<label for ="username" class="text-primary" th:text="#{username}"></label> :
					<input type="text" class = "form-control" id ="username" name = "username"
						   placeholder="Enter username" autofocus="autofocus">
				</div>
				<div class="form-group">
					<label for="password" class="text-primary" th:text="#{password}"></label>: <input type="password"
																									  id="password" name="password" class="form-control"
																									  placeholder="Enter password" />
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" name="login-submit" id="login-submit"
								   class="form-control btn btn-primary" value="Log In" />
						</div>
					</div>
				</div>
			</form>
			<div class="form-group">
						<span>New user? <a href="/registration" th:href="@{/registration}">
							Register here</a></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>